.img{
    min-width: 20em;
}


body::before{
    content:'';
    display: block;
    height:50px;
}

.map-placeholder{
    min-height: 300px;
    background-color: lightblue;
    border-radius: 10px;
}

.toast{
    position:absolute;
    z-index:5;
}

#signupNavbar, #signinNavbar{
    width: 130px;
}

@media(min-width:768px){
    .news-input{
        width:50%!important;
    }
    
}
/* 
@media(min-width:991px){

    #signup, #signin{
        display:none!important;
    }
}

 */