.img{
    min-width: 20em;
}

@media(min-width:768px){
    .news-input{
        width:50%!important;
    }
}

body::before{
    content:'';
    display: block;
    height:50px;
}

.map-placeholder{
    min-height: 300px;
    background-color: lightblue;
    border-radius: 10px;
}

.toast{
    position:absolute;
    z-index:5;
}